<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <div class="navbar">
        <% if (login) { %>
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i>Inicio</a>
        <a href="tabla"><i class="fa fa-fw fa-search"></i> Tabla de usuarios</a>
        </i>Bienvenido<strong> <%= name %></strong>!
        <a href="logout" class="a-logout">Logout</a>
            <% } else { %>
                <a href="login" class="a-login"><i></i> Login</a>
            <% } %>
    </div>
    <h1>Página de Inicio</h1>
    <% if (login) { %>
        <h1>Bievenido a mi web: <strong> <%= name %></strong> </h1>
        <div class="gatitos-log"><img src="resources/image/gatito1.png" alt="gatitocorazon"></div>
    <%} else{ %>
        <h1><strong><%= name %></strong></h1>
        <div class="gatitos-logout"><img src="resources/image/gatito2.png" alt="gatitocorazon"></div>
    <% } %>
</body>
</html>

