body{
    font-family: 'Roboto';  
    background-color: #1d2a35;
    margin: auto;
    color: #F1F1F1;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
    width: 100%;
    overflow-x: hidden;
  }
  .btn-cooo{
    border-color: rgb(40,44,52);
  }
  .v1header h2{
    padding: 20px 0 20px 0;
    margin: 0px 0px 20px 0px;
  }
  .v1header{
  background-color: #38444d;
  color: #ffffff;
  width: 100%;
  margin: auto;
  text-align: center;
  display: table-header-group;
  display: flow;
  }
.containerv1{
  background-color: #38444d; 
  width: 100vh;
  margin: 0 auto;
  padding:5px 0 5px 0;
  margin-top: 0px;
  font-family: roboto;
  text-align: left !important;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.gatitos-log .img{
  width: 254px;
  height: 256px;
}
  /* Login form */
  .login-form, .contenedor {
  text-align: center;
  width: 45vh;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
}
  .login-form h1 {
    text-align: center;
    color:#f1f1f1 ;
    font-size: 28px;
    padding: 10px 0 10px 0;
  }
  .login-form input[type="password"],
  .login-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing:border-box;
  }
  
  /* Estilos boton LOGIN*/
  .btn-login{
    width: 100%;
    padding: 15px;
    background-color: #6f42c1;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
  }
  .btn-login:hover,.btn-login:active{
    color:#fff;
    background-color:#61428f;
    border-color:#61428f
  }
  .btn-login:focus{
    box-shadow:0 0 0 3px rgba(121,82,179,0.25)
  }
  
  /* Estilos boton REGISTER*/
  .btn-register{
    width: 100%;
    padding: 15px;
    background-color: #34D399;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;
    /* Para dar la apariencia de un boton */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;  
  }
  .btn-register:hover,.btn-register:active{
    color:#fff;
    background-color: #10B981;
    border-color:#10B981
  ;
  }
  .btn-register:focus{
    box-shadow:0 0 0 3px #10B981;
  }
  
  
  
  /* Estilos de link para ir a LOGIN*/
  .a-login:link, .a-login:visited {
    background-color: white;
    /* color: black; */
    color: #10B981;
    border: 2px solid #10B981;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .a-login:hover, .a-login:active {
    background-color: #10B981;
    color: white;
  }
  
  /* Estilos de link para realizar el LOGOUT*/
  .a-logout:link, .a-logout:visited {
    /* background-color: #F87171; */
    background-color: white;
    color: #F87171;
    border: 2px solid #b16969;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .a-logout:hover, .a-logout:active {
    /* background-color: white; */
    background-color: #F87171;
    color: white;
  }
  
  /*botones de cancela y crear  */
  .button-sub-cancel{
    text-align: center;
  }
  /* Estilos boton CANCELAR*/
  .btn-cancel{
    width: 50%;
    padding: 15px;
    background-color: #9CA3AF;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size:medium;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    /* Para dar la apariencia de un boton */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;  
  }
  .btn-cancel:hover,.btn-cancel:active{
    color:#fff;
    background-color: #6B7280;
    border-color:#6B7280
  ;
  }
  .btn-cancel:focus{
    box-shadow:0 0 0 3px #6B7280;
  }
  
  /* Estilos boton GUARDAR*/
  .btn-save{
    width: 50%;
    padding: 15px;
    background-color: #1D4ED8;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size:medium;
    color: #ffffff;
    margin-top: 20px;
    /* Para dar la apariencia de un boton */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;  
  }
  .btn-save:hover,.btn-save:active{
    color:#fff;
    background-color: #1E3A8A;
    border-color:#1E3A8A;
  }
.btn-save:focus{
    box-shadow:0 0 0 3px #1E3A8A;
}

  /* form User Registration */
.register-form{
  width: 45vh;
  margin: 10px auto;
  padding: 15px 20px 15px 20px;
  background-color: #38444d;
  font-family: roboto;
  text-align: left !important;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.edit-form{
  width: 50vh;
  padding: 10px 10px 10px 10px;
  background-color: #38444d;
  font-family: roboto;
  text-align: left !important;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.register-form h1 {
    text-align: left;
    color: #f1f1f1;
    font-size: 22px;
    padding: 70px 0 10px 0;
  }
  .register-form input[type="password"],
  .register-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing:border-box;
  }
  
  /* Estilos para el select dropdown */
  .select-css {
    display: block;
    font-size: 16px;  
    font-weight: 400;  
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;  
    background-color: #f5f5f5;  
  }
  .select-css::-ms-expand {
    display: none;
  }
  .select-css:hover {
    border-color: #1a1717;
    /* border-color: #888; */
  }
  .select-css:focus {
    border-color: #1a1717;
    /* border-color: #aaa; */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
  }
  .select-css option {
    font-weight:normal;
  }

/*Barra de menu*/
.navbar .a-logout{
    width: 50px;
    border-radius: 25px;
    margin-right: 20px;
    position: relative;
    z-index: 5;
    white-space: normal;
}
.navbar .a-login{
  width: 100px;
  border-radius: 25px;
  margin-right: 20px;
  position: relative;
  z-index: 5;
  white-space: normal;
}
.navbar-2 .a-logout{
  width: 100px;
  border-radius: 25px;
  margin-right: 20px;
  position: relative;
  z-index: 5;
  white-space: normal;
}
.navbar, .navbar-2{
    color: #F1F1F1;
    text-align: right;
    padding: 8px 16px;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.navbar a, .navbar-2 a{
  color: #F1F1F1;
}

.container table{
  text-align: center;
}
.table-cus{
  text-align: center;
  /* --bs-table-bg:#666; */
}
